target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/allure-results/1eb52a27-27ce-417b-8cc5-8578e0ed4ccd-container.json
/allure-results/5c2fe638-3744-4756-b475-084f8a941f97-container.json
/allure-results/8ae2c91f-6534-447d-b18a-7d463d4cad3b-container.json
/allure-results/9b364b1b-48f6-49d4-896a-1f834b7dfbab-container.json
/allure-results/21d90470-76b6-4570-a433-5b18ceb21608-container.json
/allure-results/224cab86-3504-4bc9-a827-94a60249c330-container.json
/allure-results/640ca64f-00e8-4700-8024-370b0138dbf9-result.json
/allure-results/665c13ca-03c7-4343-a9b1-fa9b920fae20-container.json
/allure-results/779caaa0-4de9-44a3-9323-6957eb955a19-container.json
/allure-results/01750f4a-9442-4080-a9f3-1c7d1c36f4c1-container.json
/allure-results/2196ad63-54d2-458d-9fa6-d6ac622c31a1-result.json
/allure-results/04869b3b-9717-49a3-b103-53c448db58b9-result.json
/allure-results/b42df28e-1a02-4d98-93f9-c963ae9e37dd-container.json
/allure-results/c78a7a2d-25d2-46bb-a633-873bc9f8e00a-container.json
/allure-results/ebb44b03-babe-46dc-9131-566597cc1872-result.json
/allure-results/f17ac1de-55fc-4c9a-9672-079a12eb5458-container.json
