name: Ci Runner
on:
  pull_request:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Java and Maven
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: adopt
    
      - name: Set up Maven 3.9.5
        uses: stCarolas/setup-maven@v4.5
        with:
          maven-version: 3.9.5
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
        env:
          MAVEN_OPTS: "-DskipTests=false"
      - name: Run your automation script
        run: |
           mvn test -DsuiteXmlFile=src/test/resources/testng/RigsterRunners.xml
