name: for push only

on:
  push:
    branches:
      - main

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '21'

      - name: Install dependencies
        run: mvn install -DskipTests

      - name: Run specific test class
        run:  mvn test -Dtest=tests.MyTest.NewRegister_Delete
